<% if (!data) { %>
  <div class="zeroState">
    <section>
      <h1>OBA Zoek een Boek</h1>
      <p>Met deze applicatie kan je een boek terug vinden dat je eerder hebt gelezen.</p>
      <p>Vul alleen de informatie in die je zeker weet.</p>
      <p>Je hoeft dus niet alles toe te voegen.</p>
      <button>Sluiten</button>
    </section>
  </div>
<% } %>
