<main id="detailBook">
  <section class="detailCover">
    <div>
      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/3/8/8/1/666811883.jpg" alt="Cover of the book" />
    </div>
  </section>
  <article class="detailInformation">
    <h1>Harry Potter en de steen der wijzen</h1>
    <p>J.K. Rowling | Jan Meng</p>
    <p>pagina's | Rubinstein Publishing | 2000</p>
    <p>
      Na de dood van zijn ouders woont Harry Potter in de bezemkast bij zijn zeer onvriendelijke tante en oom;
      op zijn elfde hoort hij dat hij een tovenaar is
    </p>
    <p>
      Beschikbaar
    </p>
    <button>Zie locaties</button>
  </article>
</main>
