<main id="detailBook">
  <section class="detailCover">
    <div>
      <img src="https://nbc.acc1.bibliotheek.nl/thumbnail?uri=http%3A%2F%2Fdata.bibliotheek.nl%2Fggc%2Fppn%2F<%= data.ppn %>&width=1024&token=fe58476d" alt="Cover of the book" />
    </div>
  </section>
  <article class="detailInformation">
    <h1><%= data.title %></h1>
    <p><%= data.author %></p>
    <p>pagina's | Rubinstein Publishing | 2000</p>
    <p><%= data.summary %></p>
    <p>
      Beschikbaar
    </p>
    <button>Zie locaties</button>
  </article>
  <a class="scrollIndicator" href="#detailRecommendation"><span></span>Scroll</a>
</main>
