<section id="book">
  <article class="cover page">
    <header>
      <input id="title" type="text" name="" value="" placeholder="titel">
      <input id="author" type="text" name="" value="" placeholder="auteur">
      <input id="bookColor" type="color" name="" value="">
      <label for="bookColor">Kaftkleur</label>
    </header>
    <footer>
      <input id="publisher" type="text" name="" value="" placeholder="uitgever">
    </footer>
  </article>
  <article class="page">
    <div class="mirror">
      <select id="language" class="" name="">
        <option value="">Kies Taal</option>
        <option value="ger">Duits</option>
        <option value="eng">Engels</option>
        <option value="fre">Frans</option>
        <option value="dut">Nederlands</option>
      </select>
      <select id="age" class="" name="">
        <option value="">Kies Doelgroep</option>
        <option value="ageYouth">Jeugd</option>
        <option value="ageYoungAdult">Jong-volwassenen</option>
        <option value="ageAdult">Volwassenen</option>
      </select>
      <label for="year">Jaar van uitgave</label>
      <input id="year" type="number" name="" value="" placeholder="bijv. 2018" min="1700" max="2018">
      <label for="illustrator">2e auteur/illustrator</label>
      <input id="illustrator" type="text" name="" value="" placeholder="Illustrator">
      <label for="pages">Aantal pagina's +/-</label>
      <input id="pages" type="number" name="" value="" placeholder="bijv. 200">
    </div>
  </article>
  <article class="page">
    <div class="">
      <label for="summary">Samenvatting</label>
      <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
      <select id="illustrations" class="" name="">
        <option value="">Soort illustraties</option>
        <option value="black">Zwart/wit illustraties</option>
        <option value="color">Gekleurde illustraties</option>
        <option value="no">Geen illustraties</option>
      </select>
      <input id="submit" type="submit" name="" value="submit">
    </div>
  </article>
  <!-- <article class="page">

  </article>
  <article class="page">

  </article> -->
  <article class="cover back page">

  </article>

</section>
<section id="buttons">
  <a href="#" id="back">Terug</a>
  <a href="#" id="next">Volgende</a>
</section>
