<aside id="detailRecommendation">
  <section>
    <a href="" >
      <img src="http://cdn3.vox-cdn.com/assets/4242181/lord_of_the_rings_book_cover_by_mrstingyjr-d5vwgct.jpg" alt="" />
      <p>The lord of the rings</p>
    </a>
  </section>
  <section>
    <a href="">
      <img src="http://cdn3.vox-cdn.com/assets/4242181/lord_of_the_rings_book_cover_by_mrstingyjr-d5vwgct.jpg" alt="" />
      <p>The lord of the rings</p>
    </a>
  </section>
  <section>
    <a href="">
      <img src="http://cdn3.vox-cdn.com/assets/4242181/lord_of_the_rings_book_cover_by_mrstingyjr-d5vwgct.jpg" alt="" />
      <p>The lord of the rings</p>
    </a>
  </section>
  <section>
    <a href="">
      <img src="http://cdn3.vox-cdn.com/assets/4242181/lord_of_the_rings_book_cover_by_mrstingyjr-d5vwgct.jpg" alt="" />
      <p>The lord of the rings</p>
    </a>
  </section>
</aside>
