<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Boegle</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="https://www.oba.nl/content/dam/logo/oba_logo_po_zr-s_nieuw.png" alt="OBA logo"></a>
      <% if (!data) { %>
      <span>i</span>
<% } %>
    </header>
