<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Boegle</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="https://www.amsterdameconomicboard.com/app/uploads/2016/02/Logo-Oba-1.jpg" alt="OBA logo"></a>
    </header>
