<section class="loader">
  <div id="loaderBook">
    <div id="loaderCover">
      <img src = "https://www.amsterdameconomicboard.com/app/uploads/2016/02/Logo-Oba-1.jpg">
    </div>
    <div class="loaderPage" id=""></div>
    <div class="loaderPage" id=""></div>
    <div class="loaderPage" id=""></div>
    <div class="loaderPage" id=""></div>
    <div class="loaderPage" id=""></div>
    <div class="loaderPage" id=""></div>
  
    <div id="loaderBack">
      <p>---------</p>
      <p>--------</p>
      <p>----------</p>
      <p>----------</p>
      <p>----------</p>
    </div>
  </div>
</section>
