<div id="loader">
  <div id="cover" class="pageOne">
    <h1>Loading</h1>
  </div>
  <div class="page" id="pageOne"></div>
  <div class="page" id="pageTwo"></div>
  <div class="page" id="pageThree"></div>
  <div class="page" id="pageFour"></div>
  <div class="page" id="pageFive"></div>
  <div class="page" id="pageSix"></div>

  <div id="back">
    <p>---------</p>
    <p>--------</p>
    <p>----------</p>
    <p>----------</p>
    <p>----------</p>
  </div>
</div>  
