<section class="container">
  <h1 class="result-top-title">Resultaten</h1>
  <main class="result-container">

      <section class="results active">
          <div class="result-page left">
              <section class="result-item">
                  <a href="detail">
                      <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                      <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://www.bookspot.nl/images/active/ean/300/de-gvr-grote-vriendelijke-reus-dvd-cover-8713045247416.jpg" alt="">
                      <h2 class="result-title">De GVR</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/7/2/9/8/1002004000118927.jpg" alt="">
                      <h2 class="result-title">Sjaakie en de chocoladefabriek</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://media-frontend.tweakwise.com/data/ako/700x700/284208.jpg" alt="">
                      <h2 class="result-title">Dolfje weerwolfje</h2>
                  </a>
              </section>
          </div>

          <div class="result-page right">
              <section class="result-item">
                  <a href="detail">
                      <img src="https://images.toychamp.nl/highres/01096767/01096767_002.jpg" alt="">
                      <h2 class="result-title">Super Dolfje</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/425423/425423._SX360_QL80_TTD_.jpg" alt="">
                      <h2 class="result-title">The amazing spider man</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="http://www.carryslee.nl/uploads/titels/9789048832620_640.jpg" alt="">
                      <h2 class="result-title">Kappen</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/3/8/1/1/9200000005931183.jpg" alt="">
                      <h2 class="result-title">Spijt</h2>
                  </a>
              </section>
          </div>
      </section>

      <section class="results ">
          <div class="result-page left">
              <section class="result-item">
                  <a href="detail">
                      <img src="https://www.bookspot.nl/images/active/carrousel/fullsize/9789049926847_front.jpg" alt="">
                      <h2 class="result-title">Pijnstillers</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/3/4/6/8/1001004006478643.jpg" alt="">
                      <h2 class="result-title">Het huis anubis</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="http://carryslee.nl/uploads/titels/9789049924980_hires.jpg" alt="">
                      <h2 class="result-title">Razend</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="http://www.carryslee.nl/uploads/titels/9789049922146_640.jpg" alt="">
                      <h2 class="result-title">Link</h2>
                  </a>
              </section>
          </div>

          <div class="result-page right">
              <section class="result-item">
                  <a href="detail">
                      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/1/2/3/1/1001004006831321.jpg" alt="">
                      <h2 class="result-title">Lover or loser</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/5/9/3/1/1003004000001395.jpg" alt="">
                      <h2 class="result-title">De griezelbus</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="http://boekenhoekje.nl/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/2/7288.jpg" alt="">
                      <h2 class="result-title">Kamp nachtmerrie</h2>
                  </a>
              </section>

              <section class="result-item">
                  <a href="detail">
                      <img src="https://s.s-bol.com/imgbase0/GAMESCOVER/FC/1/4/5/9/2/1459249_ts2.gif" alt="">
                      <h2 class="result-title">Puck van de petteflet</h2>
                  </a>
              </section>
          </div>
      </section>
   
      <section class="result-navigation">
          <button class="previous-result" value="back" type="button">Vorige</button>
          <button class="next-result" value="next" type="button">Volgende</button>
      </section>
  </main>

  <div class="result-book-background">
      <div class="book-page book-left">
      </div>
      <div class="book-page book-right">
      </div>
  </div>
</section>