<% include ./components/head %>
    <section class="container">
        <h1 class="result-top-title">Resultaten</h1>
        <main class="result-container">

            <section class="results active">
                <div class="result-page left">
                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>
                </div>

                <div class="result-page right">
                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>
                </div>
            </section>

            <section class="results ">
                <div class="result-page left">
                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>
                </div>

                <div class="result-page right">
                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>

                    <section class="result-item">
                        <a href="">
                            <img src="http://cdn.collider.com/wp-content/uploads/2015/12/harry-potter-olly-moss-goblet-of-fire-406x600.png" alt="">
                            <h2 class="result-title">Harry Potter and the Gobled of Fire</h2>
                        </a>
                    </section>
                </div>
            </section>

            <section class="result-navigation">
                <button class="previous-result" value="back" type="button">Vorige</button>
                <button class="next-result" value="next" type="button">Volgende</button>
            </section>
        </main>

        <div class="result-book-background">
            <div class="book-page book-left">
            </div>
            <div class="book-page book-right">
            </div>
        </div>
    </section>




    <% include ./components/footer %>