/* -----------------GLOBAL----------------- */

:root{
  --cover-translateY: 0;
  --bookBottom-scale: 0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -----------------GLOBAL END----------------- */
/* -----------------HEADER----------------- */

body {
  font-family: avenir,sans-serif;
}

body > header img {
  width: 10rem;
  margin: 1em 0 0 1em;
}

header {
  position: relative;
  position: sticky;
  top: 0;
}


/* -----------------HEADER END----------------- */
/* -----------------BOOK COMPONTENT----------------- */

#book {
  height: 30em;
  position: relative;
  perspective: 10000px;
  transition: all 1s;
}

#book form {
  display: flex;
  justify-content: center;
}

#book.inDepth {
  transform-origin: bottom;
  transform: perspective(200px) rotateX(20deg) scale(2);
}

#book.inDepth .bookBottom{
  opacity: 0;
}

.page {
  position: absolute;
  background-color: #f3f0f0;
  height: 24em;
  width: 18em;
  top:1.5em;
  padding-top: 0.5em;
  border-radius: 0.5em 1em 1em 0.5em;
  z-index: 1;
  transform-origin: left;
}

.page div{
  width: 80%;
  margin: 1em 10% 0;
  display: flex;
  flex-direction: column;
}

.page:last-of-type div{
  width: 80%;
  margin: 2em 10% 0;
}

.insidePage {
  margin-left: -1em;
}

.animation {
  animation: pageFlip 2s alternate forwards;
}

.animationReverse {
  animation: pageFlipReverse 2s;
}

.cover {
  transform: translateY(var(--cover-translateY));
  background-image: none;
  z-index: 2;
  top: -.3em;
  background-color: red;
  height: 28em;
  width: 20em;
  border-radius: 1em 2em 2em 1em;
  transition: all 0.5s ease-in-out;
}

.cover header input {
  margin: 2rem 1rem 0 1rem;
  border: none;
  background-color: red;
  font-size: 3em;
  width: 18rem;
  text-align: center;
}

.cover:first-of-type input {
  color: white;
}

.cover input::placeholder  {
  color: #f3f0f0;
  opacity: 1;
}

.cover input:-ms-input-placeholder{
  color: #f3f0f0;
}

.cover header input:nth-child(2) {
  font-size: 2em;
  margin: 0 1rem;
}

.cover header input:last-of-type {
  margin: 1rem 40%;
  width: 20%;
}

.cover header label {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: -1em;
}

.cover footer{
  position: absolute;
  bottom: 1em;
}

.cover footer input {
  margin: 0 1rem 1rem 1rem;
  border: none;
  background-color: red;
  font-size: 1em;
  width: 18rem;
  text-align: center;
}

.bookBottomTwo {
  background-color: #f3f0f0;
  border-left: 1em solid red;
  border-bottom: 0.5em solid red;
  border-radius: 0.3em 0 0.3em 0.3em;
  height: 10em;
  margin: 0!important;
  width: 98%!important;
  bottom: -9.2em;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform-origin: top;
  transform: perspective(40em) rotateX(-64deg) scaleY(var(--bookBottom-scale));
}

.back {
  z-index: 0;
}

.mirror {
  transform: scaleX(-1);
}

@keyframes pageFlip {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(-180deg);
    z-index: 1
  }
}

@keyframes pageFlipReverse {
  from{
    transform: rotateY(-180deg);
    z-index: 1;
  }
  to{
    transform: rotateY(0deg);
  }
}

/* -----------------BOOK END----------------- */
/* -----------------SIDE MENU----------------- */

nav{
  transform: scale(1.75);
  transform-origin: right;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto 0;
}

ul{
  margin: 0;
  display: flex;
  flex-direction: column;
}

li:first-of-type{
  margin-top: 0.5em;
}

li:last-of-type{
  margin-bottom: 0.5em;
}

li{
  cursor: pointer;
  border: solid 1px rgba(0,0,45,.1);
  list-style: none;
  margin: 0 0 0 -1em;
  background-color: white;
  height: 5em;
  width: 14em;
  transform: translateX(9em);
  display: flex;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li div{
  width: 5em;
}

li:hover, li:focus-within{
 transform: translateX(0);
 background-color: gray;
}

li:hover, li:focus-within, .checked{
 transform: translateX(0);
}

li:hover a, li:focus-within a{
 color: white;
}

li div + p {
  text-align: center;
  width: 6em;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  font-family: avenir;
  color: white;
}

a{text-decoration: none;
color: black;   }

svg{
  width: 60%;
  margin: 20%;
}

/* -----------------SIDE MENU END----------------- */
/* -----------------RANGE SLIDER----------------- */

#range{
  top: 0;
  position: absolute;
  width: 10em;
  display: flex;
  height: 100%;
  left: 10%;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-250%);
  transition: all 1s ease-in-out;
}

#range p {
  color: black;
  justify-content: center;
  display: flex;
  color: black;
  flex-direction: column;
}

#range input {
  /* transform: scale(3) rotate(270deg); */
  /* For later use. Dont remove */
}

.sliderSlidesIn {
  transform: translateX(0)!important;
}

/* -----------------RANGE SLIDER END----------------- */
/* -----------------BUTTONS----------------- */

#buttons {
  position: fixed;
  bottom: 2em;
  text-align: center;
  width: 100vw;
  opacity: 1;
}

#buttons button {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  margin: 0 auto;
  color: white;
  border-radius: em;
  width: 10em;
  display: inline-block;
  background-color: red;
  border: 1px solid red;
  font-size: 1rem;
}

#buttons a {
  padding: 1rem 2rem;
  border: 1px solid black;
}

#buttons a:hover {
  color: white;
  background-color: black;
}

.invisable{
  opacity: 0;
}


/* -----------------BUTTONS END----------------- */
/* -----------------LOADER----------------- */

#loaderBook {
  display: flex;
  transform: scale(0.4);
  height: 15em;
  perspective: 1500px;
  justify-content: center;
  margin-right: 4em;
}

#loaderCover {
  will-change: transform;
  position: absolute;
  transform-origin: left;
  margin-left: 10em;
  z-index: 2;
  background-color: red;
  height: 14em;
  width: 10em;
  border-radius: 1em 2em 2em 1em;
  animation: flip 1.2s forwards infinite;
}

#loaderCover h1 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

#loaderCover img {
  width: 8em;
  margin-top: 1em;
  margin-left: 0.5em;
}

#loaderBack {
  position: absolute;
  transform-origin: left;
  margin-left: 10em;
  background-color: red;
  height: 14em;
  width: 10em;
  border-radius: 1em 2em 2em 1em;

  animation: flip 1.2s forwards infinite;
  animation-delay: 350ms;
  text-align: center;
}

#loaderBack p {
  margin: 0;
  padding: 0;
  margin: 1em;
  color: white;
}

.loaderPage {
  position: absolute;
  background-color: white;
  height: 12em;
  width: 9em;
  top: 0.75em;
  margin-left: 10em;
  padding-top: 0.5em;
  border-radius: 0.5em 1em 1em 0.5em;
  z-index: 1;
  transform-origin: left;
  will-change: transform;
  animation: flip 1.2s forwards infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  } 80% {
    transform: rotateY(-180deg);
    z-index: 1;
  } 100% {
    transform: rotateY(-360deg);
  }
}

.loaderPage:nth-of-type(2) {
  animation-delay: 50ms;
}

.loaderPage:nth-of-type(3) {
  animation-delay: 100ms;
}

.loaderPage:nth-of-type(4) {
  animation-delay: 150ms;
}

.loaderPage:nth-of-type(5) {
  animation-delay: 200ms;
}

.loaderPage:nth-of-type(6) {
  animation-delay: 250ms;
}

.loaderPage:nth-of-type(7) {
  animation-delay: 300ms;
}

/* -----------------LOADER END----------------- */
/* -----------------RESULT PAGE START----------------- */

.result-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  perspective: 70em;
  padding: 7rem;
  padding-top: 1rem;
  transform-origin: bottom;
  transform: perspective(10em) rotateX(10deg);
  transition: all 1s;
  animation: flip-result 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes flip-result {
  100%{
    transform: perspective(140em) rotateX(0);
    opacity: 1;
  }
}

@keyframes result-show-opacity {
  100%{
    opacity: 1;
  }
}

.result-container.active {
  transform: none;
  transition-delay: 1s;
}

.result-top-title {
  display: flex;
  width: 100%;
  justify-content: center;
  color: red;
  font-size: 3em;
}

.result-item {
  width: 100%;
  max-width: 14em;
  margin: 2rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  animation: result-show-opacity 0.2s forwards;
  background-color: white;
  opacity: 0;
  animation-delay: 1s;
}

.result-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.result-item img {
  display: flex;
  width: 100%;
  height: 14em;
  background-color: rgba(0, 0, 0, 0.15);
}


.result-item .result-title {
  font-weight: 700;
  font-size: 1.2em;
  padding: 1.2rem;
  background-color: white;
}

.result-page {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.result-page.right {
  transition: all 1s;
}

.result-page.left {
  justify-content: flex-end;
  transition: all 1s;
  transform-origin: right;
  transform: rotateY(-180deg);
  animation: flip-result 2s forwards ease-in-out;
}

.result-page.left.active, .result-page.right.active {
  transform: none;
  opacity: 1;
}

.result-book-background {
  display: flex;
  position: absolute;
  content: '';
  /* background-color: rgb(87, 64, 64); */
  height: 140vh;
  width: 100%;
  z-index: -1;
  transform: perspective(20em) rotateX(20deg);
  transform-origin: bottom;
  bottom: 0;
  left: 0;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  perspective: 60em;
}

.result-book-background .book-page {
  height: 100%;
  width: 50%;
  transition: all 1s;
}

.book-left, .book-right {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.book-left {
  transform: rotateY(-180deg);
  transform-origin: right;
  z-index: 1;
  position: relative;
  animation: flip-result 2s forwards ease-in-out;
}

.book-left.active {
  transform: none;
  z-index: 0;
}

.result-navigation {
  display: flex;
  width: 100%;
}

.result-navigation button {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  color: white;
  min-width: 10em;
  background-color: red;
  border: none;
  font-size: 1rem;
  transition: all 0.2s;
}

.result-navigation button:hover, .result-navigation button:focus {
  cursor: pointer;
  background-color: black;
  color: white;
}

.next-result {
  margin-left: auto;
}


.results {
  display: none;
}

.results.active {
  display: flex;
}

/*---------RESULT PAGE END----------------- */
/* -----------------DETAIL----------------- */

#detailBook {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.detailCover {
  width: 60%;
  height: auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5rem 1rem 5rem 5rem;
}

.detailCover img {
  width: 100%;
  max-width: 33em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  object-fit: contain;
}

.detailCover div {
  position: relative;
  width: auto;
}

.detailCover div:after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: rgba(0,0,0,0.2);
  box-shadow: 1px 0 3px rgba(0,0,0,1) inset, 1px 0 0
              rgba(0,0,0,0.3), 2px 0 0  rgba(255,255,255,.3);
  border-left: 1px solid rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
  transform: rotateY(-60deg);
}

.detailInformation {
  width: 40%;
  height: auto;
  padding-top: 4rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.detailInformation h1 {
  font-size: calc(100vw*0.05);
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-weight: bold;
  line-height: 0.9;
}

.detailInformation p:nth-of-type(1) {
  font-size: calc(100vw*0.015);
  margin-top: 2rem;
}

.detailInformation p:nth-of-type(2) {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.detailInformation p:nth-of-type(3) {
  font-size: 1.3em;
}

.detailInformation p:nth-of-type(4) {
  color: #03b555;
  font-size: 1.1em;
  margin-top: 4em;
}


.detailInformation button {
  text-align: center;
  color: #0C5;
  padding: 20px 0;
  width: 14em;
  height: 4em;
  background-color: #03b555;
  border: 1px solid #0D6;
  color: #FFF;
  font-size: 1.1em;
  margin-top: 1rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.detailInformation button:hover,
.detailInformation button:focus {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#detailRecommendation {
  position: relative;
  z-index: 4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ececec;
  height: auto;
  justify-content: space-around;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#detailRecommendation section img {
  width: 100%;
  height: 22em;
}

#detailRecommendation section {
  width: 100%;
  max-width: 17em;
  margin: 2rem;
  transition: 1s all;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#detailRecommendation section p {
  max-width: 11em;
  font-size: 1.4em;
  font-weight: 700;
  padding: 2rem;
}

#detailRecommendation section a{
  color: #000000;
  display: block;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#detailRecommendation section a:hover,
#detailRecommendation section a:focus {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* -----------------END DETAIL----------------- */
/* -----------------RESPONSIVENESS----------------- */

@media screen and (max-width: 70em) {

    #detailBook {
      position: initial;
      box-shadow: none;
      height: auto;
    }

    .detailCover {
      padding: 5rem 1rem 1rem 1rem;
      width: 100%;
    }

    .detailInformation {
      width: 100%;
      padding: 7rem 7rem 5rem 7rem;
    }

    .detailInformation h1 {
      font-size: calc(100vw*0.09);
    }

    .detailInformation p:nth-of-type(1) {
      font-size: calc(100vw*0.04);
    }

    .detailInformation p:nth-of-type(2) {
      font-size: 2.3em;
    }

    .detailInformation p:nth-of-type(4) {
      font-size: 2.3em;
      margin-top: 3em;
    }

    .detailInformation button {
      font-size: 2.3em;
    }

    #detailRecommendation section p {
      font-size: 2.3em;
    }

    #detailRecommendation {
      position: initial;
    }

    .detailCover img {
      width: 100%;
      height:100%;
    }

    .detailCover div {
      width: 67%;
    }

    .detailInformation p:nth-of-type(3) {
      font-size: 2.3em;
  }
}

/* -----------------END RESPONSIVENESS----------------- */

/* -----------------HACKS----------------- */

.none {
  display: none!important;
}

.inactive {
  opacity: 0;
  pointer-events: none;
}